name: 'Commit Message Linter'
on: push
jobs:
  lint-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: 'Check for Emoji Prefix'
        run: |
          # Get the latest commit message
          COMMIT_MSG='${{ github.event.head_commit.message }}'

          # This regex checks if the message starts with an emoji character
          EMOJI_REGEX="^'(\u00a9|\u00ae|[\u2000-\u3300]|\ud83c[\ud000-\udfff]|\ud83d[\ud000-\udfff]|\ud83e[\ud000-\udfff])"

          if [[ $COMMIT_MSG =~ $EMOJI_REGEX ]]; then
            echo "The commit message is great: '$COMMIT_MSG'"
            exit 0
          else
            echo "Heresy! Your commit message ('$COMMIT_MSG') does not begin with an emoji."
            echo "Amend your ways with 'git commit --amend' and try again."
            exit 1
          fi

